#footer-hat {

    .footer-hat-col {

       .social-icon {
        display: inline-block;
        font-size: 27px;
        margin: 5px 10px;
        }


        figure {
            width: 100%;
            margin-bottom: 10px;

            img {
                max-width: 100%;
            }
        }
    }
    
    ul {
        list-style: none;
    }
}