html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 65px;
  height: 100%;
}

#footer {
  width: 100%;
}

.emory-wide {
  font-size: 10px;
  font-family: Verdana, Arial, sans-serif;
  z-index: 9999;
  float: right;
}
.emory-wide ul {
  list-style: none;
}
.emory-wide ul li:hover > .nav-box {
  display: block;
}
.emory-wide ul li.top {
  display: inline-block;
  position: relative;
  float: left;
  padding: 8px;
}
.emory-wide ul li.top .nav-box.search {
  display: block;
  position: relative;
  float: right;
  width: 20em;
  height: 11.2em;
  margin: 0 0em 0 2.4em;
  padding: 0 0 0 .4em;
  top: 0;
  background: 0;
}
.emory-wide ul li.top > a {
  color: #b8bcd6;
  text-transform: uppercase;
  text-decoration: none;
  background-image: url("https://template.emory.edu/assets/css/img/arrow-light.gif");
  background-repeat: no-repeat;
  padding-left: 13px;
  background-position: left center;
}
.emory-wide ul li.top:hover {
  text-decoration: none;
  background-color: #2d5aaf;
}
.emory-wide ul li.top:hover a {
  background-image: url("https://template.emory.edu/assets/css/img/arrow-light-down.gif");
  background-repeat: no-repeat;
  color: #FFF;
}
.emory-wide ul li.top:hover .nav-box a {
  background-image: none;
  color: #FFF;
}
.emory-wide ul li.top.search, .emory-wide ul li.top.search:hover {
  padding-top: 4px;
  width: auto;
  height: 0px;
  background: inherit;
  padding-left: 0px;
  z-index: 1;
}
.emory-wide ul .nav-box {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  width: 425px;
  background: #264b91 url("https://template.emory.edu/assets/css/img/call-out-bg.jpg") no-repeat top;
  height: 235px;
  z-index: 9999;
  padding: 16px 0px 20px 16px;
  margin-top: 8px;
}
.emory-wide ul .nav-box ul {
  padding-left: 10px;
  float: left;
}
.emory-wide ul .nav-box ul li {
  list-style: initial;
  color: #FFF;
  line-height: 17px;
  margin-left: 10px;
}
.emory-wide ul .nav-box #form-search .btn {
  color: #fff;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #4070cb;
  border: 1px solid #4070cb;
  margin-bottom: 0;
  box-shadow: none;
  min-width: 25px;
  min-height: 21px;
  border-radius: 0px 5px 5px 0px;
  height: 21px;
  width: 25px;
  margin-top: -2px;
  padding: 0px 6px 0px 6px;
}
.emory-wide h4 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  color: #FFF;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  margin: 5px 0px 3px 0px;
}
.emory-wide input#q {
  border-radius: 5px 0px 0px 5px;
  height: 21px;
  width: 170px;
  padding-left: 10px;
  border: solid 1px #CCC;
  margin-right: -7px;
}

.white .emory-wide .top > a {
  color: #13358c;
  background-image: url("https://template.emory.edu/assets/wdg/custom-framework/css/img/arrow-white.png");
}

.col {
  width: 50%;
  float: left;
  padding: 5px;
}
.col.col-1 {
  width: 43%;
  margin-right: 20px;
}

a.skip, a.skip:hover, a.skip:visited {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.search-scope {
  z-index: 100;
  padding: 0px 0;
  background: #fff;
  position: absolute;
  margin: -5.5px 0px 0 6px;
  width: 82%;
  border: 1px solid #ccc;
  display: none;
}
.search-scope label {
  display: block;
  float: none;
  border-top: 1px solid #d9dfe3;
  margin-bottom: 0;
  display: inline-block;
  color: #333;
  padding: 5px 5px 5px 25px;
  cursor: pointer;
  width: 100%;
}
.search-scope label.checked {
  background: url("/assets/css/img/check.png") no-repeat 0.5em center;
  font-weight: bold;
}
.search-scope label:first-child {
  border-top: 0;
}
.search-scope input {
  position: absolute;
  left: -9999px;
}

#header .blue {
  background: #002878;
}

.unit-signature #emory-wide {
  margin-bottom: -30px;
}

/*Template Header CSS */
#header .header-hat {
  background: #002878;
  position: relative;
  z-index: 9999;
}
#header .header-hat .fa.fa-search {
  margin-left: -16px;
  color: #FFF;
}
#header .header-hat .no-logo {
  height: 25px;
}
#header .header-hat .logo, #header .header-hat .logo img {
  height: 30px;
}
#header .white {
  background-color: white;
}

.unit-signature img {
  padding-top: 20px;
  max-width: 100%;
  padding-bottom: 10px;
}

/*new stuff */
.navbar-toggle .fa {
  display: block;
  width: 22px;
  height: 14px;
  border-radius: 1px;
}

.navbar-default .navbar-toggle .fa {
  color: #ccc;
}

#mobile-search, #mobile-nav {
  border-top-width: 0;
  box-shadow: none;
}

@media (min-width: 768px) {
  #mobile-search {
    display: none !important;
  }
}
#mobile-search .nav-box {
  border-radius: 4px;
}
#mobile-search .input-group {
  width: 100%;
}
#mobile-search .input-group input#mobile-q {
  width: 75%;
  height: 47px;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#mobile-search .input-group-addon {
  width: 25%;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#mobile-search .input-group-addon .btn {
  margin-top: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
}

.page-content, .structured-content-block {
  min-height: 30px;
}
.page-content figure, .structured-content-block figure {
  margin-top: 7px;
  margin-bottom: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.page-content figure img, .structured-content-block figure img {
  width: 100%;
}
.page-content figure p.image-credit, .structured-content-block figure p.image-credit {
  font-size: 11px;
  line-height: 16px;
  margin-top: .5em;
  margin-bottom: 0;
}
.page-content figure figcaption.image-caption, .structured-content-block figure figcaption.image-caption {
  font-size: .875rem;
  line-height: 1.2em;
  margin-top: .5em;
}
.page-content figure.full-width, .structured-content-block figure.full-width,
.page-content figure.one-fourth,
.structured-content-block figure.one-fourth,
.page-content figure.one-third,
.structured-content-block figure.one-third,
.page-content figure.one-half,
.structured-content-block figure.one-half,
.page-content figure.two-thirds,
.structured-content-block figure.two-thirds,
.page-content figure.three-fourths,
.structured-content-block figure.three-fourths {
  width: 100%;
}
.page-content figure.pull-right, .structured-content-block figure.pull-right {
  margin-left: 10px;
}
.page-content figure.pull-left, .structured-content-block figure.pull-left {
  margin-right: 10px;
}
.page-content .btn, .structured-content-block .btn {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 0 60px;
  margin: 0 auto;
}
.page-content .btn .wrap-text, .structured-content-block .btn .wrap-text {
  white-space: normal;
}

@media only screen and (min-width: 768px) {
  .page-content figure.one-fourth, .structured-content-block figure.one-fourth {
    width: 25%;
  }
  .page-content figure.one-third, .structured-content-block figure.one-third {
    width: 33%;
  }
  .page-content figure.one-half, .structured-content-block figure.one-half {
    width: 50%;
  }
  .page-content figure.two-thirds, .structured-content-block figure.two-thirds {
    width: 66%;
  }
  .page-content figure.three-fourths, .structured-content-block figure.three-fourths {
    width: 75%;
  }
}
/*Template Search Results CSS */
.big-search .input {
  margin-top: 25px;
  border-radius: 5px;
  border: solid 1px #CCC;
  padding: 8px;
}
.big-search .btn-search {
  background-color: #333;
  color: #FFF;
}

.search-results h2 {
  border-bottom: solid 1px #CCC;
  padding: 10px;
  font-size: 1em;
}
.search-results h3 {
  margin-bottom: 0px;
}
.search-results .listings li {
  padding: 5px 10px;
}
.search-results .listings li:nth-child(odd) {
  background-color: #f1f1f1;
}

.pagination {
  display: inherit;
  text-align: center;
}
.pagination ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.pagination ul li {
  display: inline;
  padding: 10px;
}

.key-matches {
  display: none;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form .error {
  display: none;
  padding: 10px;
  margin: 0 0 5px 0;
  color: #D8000C;
  font-size: 12px;
  background-color: #FFBABA;
}
form .success {
  display: none;
  padding: 10px;
  color: #044406;
  font-size: 12px;
  background-color: #B7FBB9;
}
form .form-field {
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}
form .form-field .form-label {
  width: 30%;
  display: inline-block;
}
form .form-field .form-label .required {
  color: red;
  font-size: .8em;
}
form .form-field .form-input {
  width: 60%;
  display: inline-block;
}
form .form-field .form-input input, form .form-field .form-input textarea {
  width: 100%;
  border-radius: 5px;
  border: solid 1px #CCC;
  padding: 10px 0px 5px 10px;
  font-size: 1em;
}
form .form-field .form-input input[type="radio"] {
  display: inline-block;
  margin-left: 10px;
  width: 5%;
}
form .form-field .form-input input[type="radio"]:first-child {
  margin-left: 0;
}

#footer-hat .footer-hat-col .social-icon {
  display: inline-block;
  font-size: 27px;
  margin: 5px 10px;
}
#footer-hat .footer-hat-col figure {
  width: 100%;
  margin-bottom: 10px;
}
#footer-hat .footer-hat-col figure img {
  max-width: 100%;
}
#footer-hat ul {
  list-style: none;
}

#emory-footer {
  line-height: 24px;
  clear: both;
  background: #e8eef4;
  color: #002878;
  padding-top: 1.16071428571429em;
  text-align: center;
  min-height: 60px;
  font-size: 11px;
}
#emory-footer p {
  margin-bottom: 0;
}
#emory-footer ul#footLinks {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
#emory-footer ul#footLinks li {
  display: inline;
  line-height: normal;
  border-left: 1px solid #002878;
  padding: 0 0 0 8px;
  margin: 0 0 0 5px;
  background: 0;
}
#emory-footer ul#footLinks li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

@media (max-width: 480px) {
  #footer ul#footLinks li, #footer ul#footLinks li:first-child {
    display: block;
    clear: both;
    margin: 0 22px;
    border: 0;
    border-bottom: 1px dotted;
    padding: 0;
    text-align: left;
  }
  #footer ul#footLinks li a, #footer ul#footLinks li:first-child a {
    display: block;
    padding: 1.42857142857143em 0;
  }
  #footer p {
    margin: 1em 22px;
  }
}

/*# sourceMappingURL=main.css.map */
